apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.app.name }}
spec:
  selector:
    app: {{ .Values.app.name }}
  type: ClusterIP
  ports:
    - port: {{ .Values.app.service.port }}
      targetPort: {{ .Values.app.containerPort }}

